
body{
   background-color: skyblue;
   margin: 0;
   padding: 0;
}
.LoginDiv{
    width: 70%;
    height: 80vh;
    background-color: black;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the div */
}
.LoginDiv nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    /* border: 1px solid red; */
}
#MenuOptions{
    display: flex;
    column-gap: 40px;
      /* border: 1px solid red; */
}
.LoginDiv nav ul li{
    list-style: none;
}
.LoginDiv nav ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.LoginDiv nav h1{
    color: white;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.LoginDiv nav ul li button{
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: skyblue;
    border: none;
    font-size: large;
}
.PLogo-PName{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}
.PLogo-PName img{
    height: 50px;
    width: 50px;
    padding-right: 15px;
}









/* Login part styles */







.DisplayHidden {
    display: none;
}
.LoginPart{
    /* border: 1px solid red; */
    width: 25%;
    margin-left: 50px;
    padding-top: 30px;
    border-radius: 15px;
    border-right: 1px solid lightgray ;
    border-left: 1px solid lightgray;
}
.SignInLogo img{
    height: 100px;
    width: 100px;
}
.InputField, .Reg-InputField{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputField input{
    display: block;
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
    border-radius: 10px;
    font-size: 15px;
    padding-left: 15px;
    background-color: White;
}
.InputField input::placeholder{
    color: rgba(0, 0, 0, 0.562);
}
.SignInLogo, .SignInButton{
    text-align: center;
    margin-bottom: 40px;
}
.SignInButton button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
}
#UserName{
    background-image: url('Images/UserIcon.png');
    background-repeat: no-repeat;
    background-position: 10px center; /*Adjust as needed*/
    background-size: 23px 23px;
    padding-left: 40px;
}
#Password{
    background-image: url('Images/PasswordIcon.png');
    background-repeat: no-repeat;
    background-position: 10px center; /*Adjust as needed*/
    background-size: 18px 18px;
    padding-left: 40px;
}
.Login-Welcome{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;   
}
.WelcomePart{
    /* border: 1px solid red; */
    width: 50%;
    margin-right: 20px;
    padding-top: 150px;
}
.WelcomePart h1{
  color: white;
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.WelcomePart p{
    color: white;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding-right: 30px;
}










/* Registration form styles */








.RegistrationForm{
    /* border: 1px solid red; */
    width: 30%;
    background-color: black;
    border-radius: 20px;

    border-right: 3px solid white ;
    border-left: 3px solid white;

    position: fixed;
    top: 150px;
    left: 48%;
    z-index: 1000;
}
.PLogo img{
    height: 100px;
    width: 100px;
}
.Reg-InputField input{
    display: block;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: large;
    padding-left: 15px;
    background-color: white;
    border: 1px solid black;
}
.PLogo, .Reg-Confirm{
    text-align: center;
    margin-bottom: 40px;
}
.Reg-InputField input::placeholder{
    color: rgba(0, 0, 0, 0.562);
}
.Reg-Confirm button{
    margin-top: 40px;
    height: 40px;
    width: 180px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: skyblue;
    margin-bottom: 20px;
}
#Reg-Cancel{
    height: 35px;
    width: 120px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: skyblue;

    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}









/* Responsive styles */





@media screen and (max-width: 576px){
   
    /* Navigation bar */
    .LoginDiv{
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .LoginDiv nav{
        padding: 30px 20px;
    }
    #MenuOptions{
        display: none;

        position: absolute;
        right: 20px;
        top: 100px;

        background-color: skyblue;
        width: 30%;
        padding: 10px;
    }
    .LoginDiv nav ul li button{
        border: 1px solid black;
    }
    #MenuOptions li{
        margin-bottom: 15px;
        font-size: 15px;
    }
    .LoginDiv nav ul li a{
        color: black;
    }
    .LoginDiv nav h1{
        font-size: 1.2em;
    }
    .PLogo-PName img{
        height: 30px;
        width: 30px;
    } 


    /* Login-Welcome part */

    .Login-Welcome{
        flex-direction: column-reverse;
    }
    .WelcomePart{
        width: 100%;
        padding-top: 20px;
    }
    .WelcomePart h1{
      font-size: 2.5em;
      text-align: center;
    }
    .WelcomePart p{
        padding: 10px;
    }
    .LoginPart{
        width: 100%;
        margin-left: 0px;
        padding-top: 50px;
        border-right: none ;
        border-left: none;
    }
    .SignInLogo img{
        height: 80px;
        width: 80px;
    }   


    /* Registration form styles */

    .RegistrationForm{
        width: 100%;
        border-right: 0;
        border-left: 0;
        padding-top: 30px;
        
    
        position: fixed;
        top: 290px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    .PLogo img{
        height: 80px;
        width: 80px;
    }
    
}

@media screen and (min-width:576px) and (max-width: 768px){
    #MenuBar{
        display: none;
       }

    /* Navigation bar */
    .LoginDiv{
        width: 100%;
        height: 100vh;
        border-radius: 0;
        border: 1px solid yellow;
    }
    .LoginDiv nav{
        flex-direction: column;
        padding: 10px 0px;
        /* border: 1px solid yellow; */
    }
    #MenuOptions{
        margin-right: 30px;
        width: 100%;
        column-gap: 50px;
        align-items: center;
        /* border: 1px solid yellow; */
    }
    .LoginDiv #MenuOptions li{
        font-size: 15px;
    }
    .LoginDiv nav ul li a{
        color: white;
    }
    .LoginDiv nav h1{
        font-size: 1.5em;
    }
    .PLogo-PName img{
        height: 30px;
        width: 30px;
    } 


    /* Login-Welcome part */

    .Login-Welcome{
        flex-direction: column-reverse;
        margin-top: 0px;
        /* border: 1px solid yellow; */
    }
    .WelcomePart{
        width: 100%;
        padding-top: 0;
    }
    .WelcomePart h1{
      font-size: 2.5em;
      text-align: center;
    }
    .WelcomePart p{
        padding: 10px;
        text-align: center;
    }
    .LoginPart{
        width: 50%;
        margin: 40px auto;
        border-radius: 15px;
        border-right: 1px solid lightgray ;
        border-left: 1px solid lightgray;
        /* border: 1px solid yellow; */
    }
    .SignInLogo img{
        height: 80px;
        width: 80px;
    }   


    /* Registration form styles */

    .RegistrationForm{
        width: 60%;
        background-color: black;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px;
    
        border-right: 3px solid white ;
        border-left: 3px solid white;
    
        position: fixed;
        top: 285px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }
    .PLogo img{
        height: 80px;
        width: 80px;
    }
}


@media screen and (min-width:768px) and (max-width: 992px){
    #MenuBar{
        display: none;
       }

    .LoginDiv{
    width: 100%;
    height: 100vh;
    border-radius: 0;
}
.LoginDiv nav{
    padding: 20px 20px;
}
#MenuOptions{
    column-gap: 35px;
    align-items: center;
}
.LoginDiv nav ul li a{
    font-size: 17px;
}
.LoginDiv nav h1{ 
    font-size: 1.4em;
}
.LoginDiv nav ul li button{
    height: 30px;
    width: 100px;
    font-size: 17px;
}
.PLogo-PName img{
    height: 40px;
    width: 40px;
}

/* Login-Welcome part styles */

.LoginPart{
    margin-top: 100px;
    width: 40%;
}
.SignInLogo img{
    height: 80px;
    width: 80px;
}

.Login-Welcome{ 
    flex-direction: column-reverse;  
    align-items: center;
    margin-top: 0;
}
.WelcomePart{
    width: 90%;
    margin-right: 0px;
    padding-top: 20px;
}
.WelcomePart h1{
  text-align: center;
}
.WelcomePart p{
    padding-right: 0px;
    text-align: center;
    margin-top: -1em;
}
.RegistrationForm{  
    width: 50%;
    position: fixed;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
}


}


@media screen and (min-width: 992px) and (max-width: 1300px){
   #MenuBar{
    display: none;
   }
   .LoginDiv{
    width: 85%;
  }
  .LoginDiv nav{
    padding: 30px 30px;
  }
  .LoginDiv nav ul li a{ 
    font-size: large;
}
.LoginDiv nav h1{
    font-size: 1.7em;
}
.Login-Welcome{
    margin-top: 80px;
}
.WelcomePart{
    margin-right: 0px;
    padding-top: 100px;
}
.WelcomePart h1{
  font-size: 2.7em;
}
.WelcomePart p{
    padding-right: 20px;
    margin-top: -1em;
}
.RegistrationForm{  
    margin-top: 0;
    width: 35%;
} 
   
    
}
@media screen and (min-width: 1300px){
    #MenuBar{
        display: none;
       }
}