
body{
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
}



/* Navigation styles */





nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80%;
    margin: 100px auto;
    /* border: 1px solid yellow; */
}
.PLogo_PName{
    display: flex;
    align-items: center;
}
.PLogo_PName img{
    height: 50px;
    width: 50px;
    padding-right: 15px;
}
.PLogo_PName h1{
    font-size: 2.2em;
}
.MenuOptions ul{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.MenuOptions ul li{
    list-style: none;
}
.MenuOptions ul li a{
    text-decoration: none;
    font-size: 22px;
}
.MenuOptions ul li button{
    font-size: 18px;
    border: none;
    height: 30px;
    width: 120px;
    background-color: rgba(0, 0, 255, 0.329);
    border-radius: 5px;
}
.Language button{
    font-size: 18px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.329);
    border-radius: 5px;
}






/* Login And Welcome part styles */




.Login-Welcome{
    /* border: 1px solid yellow; */
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.WelcomePart{
    /* border: 1px solid yellow; */
    width: 60%;
    padding-top: 200px;
}
.WelcomePart h1{
  color: white;
  font-size: 3em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.WelcomePart p{
    color: white;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-top: -1em;
}





/* Login Part styles */






.LoginPart{
    /* border: 1px solid yellow; */
    width: 22%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    border-right: 1px solid yellow ;
    border-left: 1px solid yellow;
}
.SignInLogo img{
    height: 100px;
    width: 100px;
}
.InputField, .Reg-InputField{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputField input{
    display: block;
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 15px;
    background-color: White;
}
.InputField input::placeholder{
    color: rgba(0, 0, 0, 0.562);
}
.SignInLogo, .SignInButton{
    text-align: center;
    margin-bottom: 40px;
}
.SignInButton button{
    margin-top: 20px;
    height: 35px;
    width: 150px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.123);
}
#UserName{
    background-image: url('Images/UserIcon.png');
    background-repeat: no-repeat;
    background-position: 10px center; /*Adjust as needed*/
    background-size: 23px 23px;
    padding-left: 40px;
}
#Password{
    background-image: url('Images/PasswordIcon.png');
    background-repeat: no-repeat;
    background-position: 10px center; /*Adjust as needed*/
    background-size: 18px 18px;
    padding-left: 40px;
}








/* Registration form styles */





.DisplayHidden {
    display: none;
}


.RegistrationForm{
    /* border: 1px solid yellow; */
    width: 25%;
    background-color: cornflowerblue;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    border-right: 3px solid yellow ;
    border-left: 3px solid yellow;

    position: fixed;
    top: 250px;
    left: 58%;
    z-index: 1000;
}
.RegImage img{
    height: 100px;
    width: 100px;
}
.Reg-InputField input{
    display: block;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: large;
    padding-left: 15px;
    background-color: white;
    border: 1px solid black;
}
.RegImage, .Reg-Confirm{
    text-align: center;
    margin-bottom: 40px;
}
.Reg-InputField input::placeholder{
    color: rgba(0, 0, 0, 0.562);
}
.Reg-Confirm button{
    margin-top: 40px;
    height: 40px;
    width: 180px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.123);
}
#Reg-Cancel{
    height: 35px;
    width: 120px;
    font-size: larger;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 255, 0.123);

    float: right;
    margin-right: 20px;
}
