
.HeadSection, .SubHeadSection, .MyComplain, .MyStats, .PublicComplain, .MyOperation, .WhiteSpaceSection{
    /* border: 1px solid blue; */
    margin: 20px;
}
body{
    margin-top: 0;
}
.DisplayHidden{
    display: none;
}
.OuterDiv{
   padding-left: 3%;
   padding-right: 3%;
}
.HeadSection{
   width: calc(100% - 9%);
   position: fixed;
   top: 0px;
   margin-top: 10px;
   z-index: 10;
   text-align: center;
   background-color: lightgray;
}
.WhiteSpaceSection{
    background-color: white;
    width: calc(100% - 9%);
    height: 21vh;
    position: fixed;
    top: -3%;
    z-index: 8;
}
.SubHeadSection{
    width: calc(100% - 55%);
    position: fixed;
    top: 8%;
    left: 23.9%;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}
.PublicComplain{
    width: calc(100% - 55%);
    position: absolute;
    top: 18%;
    left: 23.9%;  
}
.EachComplain{
    background-color: lightgray;
  padding-left: 10px;
  padding-right: 10px;
}
.MyComplain{
    width: calc(100% - 75%);
    position: fixed;
    top: 8%;
    right: 3.5%;
    height: 43vh;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}
.MyStats{
    width: calc(100% - 75%);
    position: fixed;
    top: 54%;
    right: 3.5%;
    height: 43vh;
    text-align: center;
    background-color: lightgray;
}
.MyOperation{
    width: calc(100% - 80%);
    position: fixed;
    top: 8%;
    height: 89vh;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}

