
.HeadSection, .SubHeadSection, .MyComplain, .MyStats, .PublicComplain, .MyOperation, .WhiteSpaceSection{
    /* border: 1px solid blue; */
    margin: 20px;
}
body{
    margin-top: 0;
}
/* .OuterDiv{
   padding-left: 3%;
   padding-right: 3%;
} */
.HeadSection{
   width: calc(100% - 3%);
   position: fixed;
   top: 0px;
   margin-top: 10px;
   z-index: 100;
   text-align: center;
   background-color: lightgray;
}
.WhiteSpaceSection{
    background-color: white;
    width: calc(100% - 9%);
    height: 27vh;
    position: fixed;
    top: -3%;
    z-index: 8;
}
.SubHeadSection{
    width: calc(100% - 52%);
    position: fixed;
    top: 14%;
    left: 21%;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}
.MyComplain{
    width: calc(100% - 72.3%);
    position: fixed;
    top: 14%;
    right: 0.5%;
    height: 40vh;
    z-index: 10;
    text-align: center;
    /* background-color: lightgray; */
    border: 1px solid gray;

    overflow-y: scroll;
    scrollbar-width: none;
}
.MyStats{
    width: calc(100% - 72.3%);
    position: fixed;
    top: 56%;
    right: 0.5%;
    height: 40vh;
    text-align: center;
    /* background-color: lightgray; */
    border: 1px solid gray;
}
.MyOperation{
    width: calc(100% - 80%);
    position: fixed;
    top: 14%;
    height: 82vh;
    z-index: 10;
    text-align: center;
    background-color: lightgray;
}




/* Header Section Styles */




.DisplayHidden{
    display: none;
}
.Navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 70px;
    padding-right: 70px;
}
.Navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 50px;
}
.Navigation ul li{
    list-style: none;
}
.Navigation ul li a{
    text-decoration: none;
    font-size: 20px;
}
.Navigation ul li button{
    height: 33px;
    width: 130px;
    font-size: 17px;
    border-radius: 10px;
    background-color: cornflowerblue;
    border: none;
}
.Navigation ul li a:hover{
    color: brown;
}
.Navigation ul li button:hover{
    background-color: rgba(0, 0, 255, 0.548);
}
.Navigation ul li:hover #DropDownContent{
    display: block;
}
#DropDownContent a:hover{
    color:brown;
}
.LanguageButton{
    padding-left: 30px;
}
.LanguageImage{
    position: relative;
    left: 80px;
    top: 1.5px;
}
.Logo img{
    height: 130px;
    width: 230px;
}
.LanguageImage img{
    height: 23px;
    width: 23px;
}
#DropDownContent{
    display: none;
    position: absolute;
}
#DropDownContent a{
   display: block;
   margin-top: 10px;
   margin-left: 40px;
}





/* Subheader Section styles */





.FilterButton button{
   height: 35px;
   width: 130px;
   border-radius: 8px;
   font-size: 16px;
   margin: 20px 100px 20px 0px;
   float: right;
}
.SubmitComplaint button{
    float: left;
    height: 35px;
   width: 250px;
   border-radius: 8px;
   font-size: 16px;
   margin: 20px 0px 20px 100px;
}
.FilterDropDown{ 
    position: absolute;
    right: 11%;
    top: 55px;
    width: 135px;
    height: 170px;
    background-color: lightgray;
    display: none;
}
.FilterDropDown button{
    border: none;
    background-color: transparent;
    height: 25px;
    width: 90%;
    margin-bottom: -1em;
    text-align: left;
}
.FilterButton:hover .FilterDropDown{
    display: block;
    display: flex;
    flex-direction: column;
 }
 .FilterDropDown button:hover{
    color:brown;
 }





 /* Public Complain section styles */





 .PublicComplain{
    width: calc(100% - 52%);
    position: absolute;
    top: 23%;
    left: 21%;  
}
.EachComplain{
  background-color: lightgray;
  padding: 0px 10px 2px 10px;
  text-align: justify;
}
.EachComplain p{
    margin-top: -1em;
}


 /* My Complain section styles */



 .MyComplainTitle{
    background-color: lightgray;
    position: fixed;
    width: calc(100% - 72.3%);
    height: 73px;
    z-index: 10;
 }
 #MyComplains{
    overflow-y: scroll;
    scrollbar-width: none;
    position: absolute;
    top: 19%;
    width: 100%;
 }
 .MyEachComplain{
    background-color: lightgray;
    padding: 0px 10px 2px 10px;
    text-align: justify;
    margin: 0px 10px;
  }
  .MyEachComplain p{
    margin-top: -1em;
  }



  /* My Statistics section styles */

  .MyStatisticsTitle{
    background-color: lightgray;
    position: fixed;
    width: calc(100% - 72.3%);
    height: 73px;
  }
  /* #statsChart {
    display: block;
    margin: 100px auto;
    width: 50%;
    height: auto; 
  } */
   canvas{
    margin: 100px auto;
    width: 98%;
   }





   /* Responsive styles */
   @media screen and (min-width:1030px) and (max-width:1550px){
        
    .HeadSection{
        width: calc(100% - 4.2%);
     }
     .WhiteSpaceSection{
         height: 31vh;
     }
     .SubHeadSection{
         width: calc(100% - 54%);
         top: 16.5%;
         left: 21.6%;
     }
     .MyComplain{
         top: 16.5%;
     }
     .MyStats{
         top: 58.5%;
         height: 37vh;
     }
     .MyOperation{
         top: 16.5%;
         height: 79vh;
     }
     
     /* Header Section Styles */
     
     .Navigation{
         padding-left: 50px;
         padding-right: 50px;
     }
     
     /* Subheader Section styles */
     
     .FilterButton button{
        margin: 20px 50px 20px 0px;
     }
     .SubmitComplaint button{
        margin: 20px 0px 20px 50px;
     }
     .FilterDropDown{ 
        right: 8%;
    }
    .FilterDropDown button{
        margin-bottom: -1em;
    }
     
      /* Public Complain section styles */

      .PublicComplain{
         width: calc(100% - 54%);
         top: 25%;
         left: 21.6%;  
     }
     
   }